.DS_Store
.github
.gitmodules
.eslintrc.json
.npmrc
.npmignore
.project
.settings
.travis.yml
.tscache
.tslintrc
.vscode/
appveyor.yml
circle.yml
tslint.json
yarn.lock
yarn-error.log
/build/
/docs/
/scripts/
/test/
/__tests__/
/.vscode/
tscommand*.txtyarn
api.ts
generate.ts
lib/
!types/
.yo-rc.json
declar.d.ts
tsconfig*
webpack*
.tslint/